* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/f841d4c7-10e1-40af-bcae-07a3f8dc141a/a56d01a1-6d34-48f8-ab3f-f35f98186d69/BR-pt-20220502-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-size: cover;

}

#heading {
    background-color: rgba(0, 0, 0, 65%);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 63%);
}

.h1{
    padding: 0 2vmax 0vmax 2vmax;
}

#loginbox{
    padding: 2vmax 32vmax 2vmax 32vmax;
}

#login{
    background-color: black;
    padding: 4vmax 20vmax 40vmax 5vmax;
    background-color: rgba(0, 0, 0, 65%);

}
#login .h1{
    padding-left: 0vmax;
    padding-bottom: 2vmax;
    font-size: 2.7vmax;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#email{
    padding: 1.5vmax 7vmax 1vmax 1vmax;
    font-size: medium;
    border-radius: 0.4vmax;
    background-color: #454545;
    color:white;
}

#senha{
    padding: 1.5vmax 7vmax 1vmax 1vmax;
    font-size: medium;
    border-radius: 0.4vmax;
    background-color: #454545;
    color:white;
}

#divisaologinsenha{
    padding-top: 1vmax;
}